
.signup-page{
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;

    .header{
        display: flex;
        width: 50%;
        margin: 0 auto;
        
        .left-section,
        .right-section{
            width: 50%;
        }

        .right-section{
            text-align: right;
            margin-right: 30px;
            color:rgb(0, 188, 212);
            font-size: 17px;
            font-weight: bold;

            span:first-child{
                margin-right: 10px;
            }
        }
    }

    .content{
        max-width: 30%;
        margin: 0 auto;
        padding: 30px;
    }
}