@import './../../styles-common.scss';

.content{
    display: flex;
    flex-wrap: wrap;   
    
    .good-actions{
        width: 100%;
        margin: 10px 0px;
       
        .good-modal{
            text-align: center;
        }
    }

    .sidebar{
        width: 15%;

        @include respond-to(xs){
            width: 100%;
        }

        @include respond-to(sm) {
            width: 30%;
        }
    }

    .layout{
        width: 80%;
        margin-left: 2%;

        @include respond-to(xs) {
            width: 100%;
            margin-left: 0;
        }

        @include respond-to(sm) {
            width: 60%;
        }
    }
}