.registration-form{
    padding: 10px;
    text-align: center;

    h2{
        margin-bottom: 0;
        color: rgb(0, 188, 212);
    }

    .field-width{
        width: 60% !important;
    }

    .button-line{
        margin: 12px 0;
    }
}