@import url(~normalize.css/normalize.css);
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }
  body .error {
    color: #f44336; }
  body .public-layout {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
    body .public-layout .content {
      max-width: 30%;
      margin: 0 auto;
      padding: 30px; }
      body .public-layout .content .registration-form,
      body .public-layout .content .login-form {
        padding: 10px;
        text-align: center; }
        body .public-layout .content .registration-form h2,
        body .public-layout .content .login-form h2 {
          margin-bottom: 0;
          color: #00bcd4; }
        body .public-layout .content .registration-form .field-width,
        body .public-layout .content .login-form .field-width {
          width: 60% !important; }
        body .public-layout .content .registration-form .button-line,
        body .public-layout .content .login-form .button-line {
          margin: 12px 0; }
        body .public-layout .content .registration-form .error,
        body .public-layout .content .login-form .error {
          margin: 10px 0; }
        body .public-layout .content .registration-form .addition-link,
        body .public-layout .content .login-form .addition-link {
          margin: 20px 0; }
          body .public-layout .content .registration-form .addition-link a,
          body .public-layout .content .login-form .addition-link a {
            color: #00bcd4; }
